.title {
    font-family: "Montserrat", sans-serif;
    color: #c4cfde;
    margin-bottom: 30px;
    font-weight: 700;
    word-break: break-word;
    font-size: 38px;
    line-height: 50px;
}
.title h2 {
    margin: 0;
}
