.worksBlock {
    min-height: 100vh;
}

.worksContainer {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.works {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1324px) {
    .works {
        justify-content: center;
    }
} ;

