.skillsBlock {
    min-height: 100vh;
}

.skillsContainer {
    min-height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1312px) {
    .skills {
        justify-content: center;
    }
} ;