.skillsBlock {
    min-height: 100vh;
    background-color: rgb(209, 255, 140);
}

.skillsContainer {
    min-height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: rgb(252, 232, 232);
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
