.mainBlock {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/public/main-bg.c3255fc4.jpg) ;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.mainContainer::after{
    background: none

}
.text {
    width: 700px;
    font-family: "Montserrat", sans-serif;
}

.subtitle {
    font-size: 14px;
    color: #c4cfde;
    display: block;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.titleTexts {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 22px;
    word-break: break-word;
    display: inline-block;
}

.nameText {
    color: #ff014f;
    display: inline-block;
    margin-bottom: 22px;
}
.animatedTexts {
    font-size: 28px;
    color: #c4cfde;
    display: block;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: rgb(218, 218, 218);
    display: none;
}
