.offerBlock {
    height: auto;
}

.offerContainer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offerButton {
    color: #fff;
    background: #101010;
    border: 3px solid #fff;
    box-shadow: 0 10px 15px 0 rgb(249 0 77 / 10%);
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 30px;
    transition: 0.4s;
}

.offerButton:hover {
    border: 3px solid #f9004d;
    background: #f9004d;
}
