.offerBlock {
    height: auto;
}

.offerContainer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offerButton {
    color: #f9004d;
    font-size: 16px;
    font-weight: 600;
    background: 0 0;
    border: 2px solid  #f9004d;
    border-radius: 6px;
    box-shadow: 0 10px 15px 0 rgb(249 0 77 / 10%);
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 30px;
    transition: 0.4s;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.offerButton:hover {
    border: 2px solid #f9004d;
    background: #f9004d;
    color: #fff;
    transform: translateY(-5px);
}
